* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
}

nav {
    height: 100%;
    width: 20vw;
    background-color: rgb(228, 228, 228);
}

.container {
    height: 100%;
    width: 80vw;
    
}

.logo {
    /* height: 10%; */
    padding: 5%;
    font-size: 32px;
    font-weight: bold;
}

.logo>p {
    margin-bottom: 10%;
}

.navbar {
    width: 80%;
    max-height: 90%;
    margin: 0 auto;
}

.navbar li {
    width: 100%;
    margin-bottom: 2%;
    list-style-type: none;
}

.navbar li:hover {
    background-color:rgba(104, 104, 104, 0.15);
}

.navbar li:last-child {
    margin-bottom: 0;
}

.navbar li.selected {
    background-color:rgb(158, 52, 52);
}

.navbar li a {
    text-decoration: none;
}

.navbar li a img {
    max-width: 12%;
    margin-right: 8%;
    margin-left: 6%;   
}

.navbar_li_a_wrap {
    padding: 7%;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 24px;
}

main {
    height: 95%;
    width: 100%;
    background-color: rgb(194, 194, 194);
    padding: 1%;
    /* display: flex;
    flex-direction: column; */
    
}

.first {
    width: 100%;
    min-height: 15%;
    margin-bottom: 2%;
}

.main_title {
    padding-bottom: 3%;
    font-size: 32px;
    font-weight: bold;
}

.wrap {
    height: 100%;
    display: flex;
   
}


.info {
    position: relative;
    background-color: white;
    padding: 1%;
    width: 25%;
    max-height: 100%;
    margin-right: 30px;
    box-shadow: 5px 5px 5px 0px rgba(104, 104, 104, 0.75), -2px -2px 5px 0px rgba(104, 104, 104, 0.75);
}

.info_hr {
    clear: both;
}

.info_img {
    background-color: green;
    max-width: 50%;
    max-height: 50%;
    display: flex;
    padding: 1%;
    position: absolute;
    top: -10px;
}


.info_info {
    float: right;
    color: grey;
    max-height: 50%;
    margin-bottom: 1%;
    clear: both;
}

.info_info p {
    text-align: right;
    text-transform: capitalize;
}

.big {
    font-size: 24px;
    color: black;
}

.info:last-child {
    margin-right: 0;
}

.info_text {
    display: flex;
    padding-top: 4%;
}

.info_text_img {
    margin-right: 5px;
}

.info_text_text {
    color: grey;
}

.second {
    width: 100%;
    height: 30%;
    margin-bottom: 1%;
}

.sec_info {
    height:100%;
    width: 33%;
    margin-bottom: 1%;    
}

.sec_img_text {
    display: flex;
}

.sec_img {
    max-width: 94%;
    max-height: 60%;
    
}


.absolute {
    position: absolute;
    top: 80%;
    width: 94%;
}
/* .clearfix {
    overflow: auto;    
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
} */

.text {
    position: absolute;
    top: 60%;
}

.sec_img img {
    width: 100%;
}

.third {
    width: 100%;
    height: 40%;
}

.third_info {
    width: 50%;
}

footer {
    height: 5%;
    width: 100%;
    background-color: rgb(194, 194, 194);
    position: sticky;
}

footer hr {
    width: 98%;
    margin-left: 2%;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.footer_nav {
    width: 100%;
    margin: auto;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}

.footer_nav_wraplink a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 10px;
    color: black;
}

.footer_nav_wraplink a:last-child {
    margin-right: 0;
}